.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-container{
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  background-color: #f7e9dc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.express-chart-component-container{
  width: 500px;
  height: fit-content;
  display: grid;
  grid-template-rows: 70px 400px;
  grid-row-gap: 20px;
}

.express-chart-my-balance-container{
  width: 500px;
  height: fit-content;
  background-color: #EC755D;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.express-chart-my-balance-left-side{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.express-chart-my-balance-left-side > span{
  color: white;
  font-size: 12px;
}

.express-chart-my-balance-left-side > label{
  font-weight: 700;
  color: white;
}

.express-chart-my-balance-right-side{

}

.express-chart-weekly-spend-chart-container{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.express-chart-weekly-spend-chart-container > label{
  font-weight: 700;
  font-size: 20px;
}

.express-chart-weekly-spend-chart{
  width: 100%;
  margin-bottom: 15px;
}

.express-chart-weekly-spend--total-info{
  border-top: 1px solid #cdcdcd;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.express-chart-weekly-spend--total-info > div:first-child{
  display: flex;
  flex-direction: column;
}

.express-chart-weekly-spend--total-info > div:last-child{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.express-chart-weekly-spend--total-info > div:first-child > span{
  font-size: 12px;
}

.express-chart-weekly-spend--total-info > div:first-child > label{
  font-weight: 700;
  font-size: 20px;
}

.express-chart-weekly-spend--total-info > div:nth-child(1) > span{
  font-size: 12px;
  font-weight: 700;
}

.express-chart-weekly-spend--total-info > div:nth-child(1) > label{
  font-size: 14px;
}